<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <style>

  </style>
</head>

<body>
  <div class="container">
    <h1>Hello Expense Tracker</h1>
    <!-- create inputs for name, amount -->
    <input type="text" name="name" placeholder="name">
    <input type="number" name="amount" placeholder="amount">
    <!-- create a select for category -->
    <!-- options (Food, Transport, Entertainment, Other) -->
    <select name="category">
      <option value="Food">Food</option>
      <option value="Transport">Transport</option>
      <option value="Entertainment">Entertainment</option>
      <option value="Other">Other</option>
    </select>
    <!-- create a submit input -->
    <input type="submit" value="Submit">
  </div>
  <script>
    const apiUri = '/api/expenses/';
    const headers = {
      'Content-Type': 'application/json'
    };
    function renderExpense(expense) {
      // create tr with td for name, amount, and timestamp
      // use template strings
      const tr = document.createElement('tr');
      // make the timestamp human readable
      const timestamp = new Date(expense.timestamp);
      const timestampString = timestamp
      .toLocaleString('en-US', {
        month: 'short',
        day: 'numeric',
        year: 'numeric',
        hour: 'numeric',
        minute: 'numeric'
      });
      tr.innerHTML = `
        <td>${expense.name}</td>
        <td>${expense.amount}</td>
        <td>${timestampString}</td>
      `;
      // add a td with a delete button 'x'
      // bind the deleteExpense function to the button
      const td = document.createElement('td');
      const button = document.createElement('button');
      button.innerText = 'x';
      button.addEventListener('click', () => {
        deleteExpense(expense.pk);
      });
      td.appendChild(button);
      tr.appendChild(td);
      // add the tr to the table
      table.appendChild(tr);
    }
    function refreshTable() {
      table.innerHTML = '';
      getExpenses()
    }
    function getExpenses() {
      fetch(apiUri, {
        method: 'GET',
        headers: headers
      })
        .then(response => response.json())
        .then(data => {
          console.table(data);
          data.forEach(renderExpense);
        }
        )
        .catch(error => console.error(error));
    }
    function postExpense() {
      // name, amount, category(Food, Transport, Entertainment, Other)
      const name = document.querySelector('input[name="name"]').value;
      const amount = document.querySelector('input[name="amount"]').value;
      const category = document.querySelector('select[name="category"]').value;
      const expense = {
        name: name,
        amount: amount,
        category: category
      };
      fetch(apiUri, {
        method: 'POST',
        headers: headers,
        body: JSON.stringify(expense)
      })
        .then(response => response.json())
        .then(data => {
          console.table(data);
          renderExpense(data);
        }
        )
        .catch(error => console.error(error));

    }
    function deleteExpense(pk) {
      // api uri ends with trailing slash
      fetch(`${apiUri}${pk}/`, {
        method: 'DELETE',
        headers: headers
      })
        .then(response => {
          refreshTable();
        })
        .catch(error => console.error(error));

    }
    const table = document.createElement('table');
    const container = document.querySelector('.container');
    container.appendChild(table);
    // document.body.appendChild(table);
    refreshTable();
    document.querySelector("input[type='submit']").addEventListener('click', postExpense);
    // deleteExpense(3);
    // getExpenses();
    // postExpense();
  </script>
</body>

</html>