<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <style>

  </style>
</head>

<body>
  <div class="container">
    <h1>expense tracker</h1>

    <table></table>
  </div>
  <script>
    const apiUri = '/api/expenses/';
    const headers = {
      'Content-Type': 'application/json'
    };
    function getExpenses() {
      // get expenses and use renderExpenseTable

    }
    function postExpense() {

    }
    function deleteExpense(pk) {

    }
    function renderExpenseTable(expenses) {
      expenses.forEach(expense => {
        console.table(expense);
      });
      
    }
    function refreshTable() {

    }
    refreshTable();
  </script>
</body>

</html>