<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <style>

  </style>
</head>

<body>
  <div class="container">

  </div>
  <script>
    const apiUri = '/api/expenses/';
    const headers = {
      'Content-Type': 'application/json'
    };
    function renderExpense(expense) {
      console.table(expense);
    }
    function refreshTable() {

    }
    function getExpenses() {

    }
    function postExpense() {

    }
    function deleteExpense(id) {

    }
    // const table = document.createElement('table');
    // document.body.appendChild(table);
    // refreshTable();
    // document.querySelector("input[type='submit']").addEventListener('click', postExpense);
    getExpenses();
  </script>
</body>

</html>